---
layout: default
---

<!-- about.html -->
	<!-- Styles -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
	<link rel="stylesheet" href="assets/css/main.css">


        <article>
            <div class="container" id="main-content">
			<div class="row content">
				
				<!-- profile and contact info -->
				<div id="leftPanel" class="col-md-4 text-end">
					<div class="row mb-3">
						<div class="col text-end">
							<img src="assets/img/Zijun_Cui_Headshot.JPG" class="rounded me-auto d-block img-fluid profilepicture" alt="Zijun Cui profile picture", style="width: 150px; height: auto; float: right;">
						</div>
					</div>

					<h3 class="mb-2 text-end fs-5">Zijun Cui (崔梓筠)</h3>

					<div class="d-none" id="contadorVisitas"></div>

					<p class="mb-4">
						<span class="t-secondary" > </span>
					</p>
					

					<div class="row mb-2">
						<div class="col-10 text-end">
							<a href="mailto:ceejkl@gmail.com" class="link-dark">cuizijun@msu.edu</a>
						</div>

						<div class="col-1">
							<i class="fa-regular fa-envelope" aria-hidden="true"></i>
						</div>
					</div>

					<div class="row mb-2">
				                 <div class="col-10 text-end">
							<a href="https://www.linkedin.com/in/zijun-cui-949761240/" class="link-dark" target="_blank">LinkedIn</a>
                                                 </div>
                                                 <div class="col-1">
							<i class="fa-brands fa-linkedin" aria-hidden="true"></i>
                                                 </div>
					</div>

					<div class="row mb-2">
						

						<div class="col-10 text-end">
							<a href="https://twitter.com/zijun_cui" class="link-dark" target="_blank">Twitter</a>
						</div>
						<div class="col-1 text-end">
							<i class="fa-brands fa-twitter" aria-hidden="true"></i>
						</div>
					</div>

					<div class="row mb-2">
						

						<div class="col-10">
							<a href="https://github.com/zijunjkl" class="link-dark" target="_blank">GitHub</a>
						</div>
						<div class="col-1">
							<i class="fab fa-github" aria-hidden="true"></i>
						</div>
					</div>

					<div class="row mb-2">
						

						<div class="col-10">
							<a href="https://scholar.google.com/citations?hl=en&user=hxkHMJIAAAAJ" class="link-dark" target="_blank">Google Scholar</a>
						</div>
						<div class="col-1">
							<i class="fa-brands fa-google-scholar"></i>
						</div>
					</div>
				</div>

				<!-- About Me -->
				<div class="col-md-7 mb-5 active" id="aboutmeContent">
					<div class="container">
						<div class="row language">
							<p class="mt-2 justify" 
								>I am an assistant professor in the <a href="https://engineering.msu.edu/about/departments/cse">Department of Computer Science and Engineering at Michigan State University</a>, starting in Fall 2024. Prior to this, I was a postdoctoral researcher at University of Southern California. I obtained my doctoral degree from Rensselaer Polytechnic Institute.
							</p>

							<div style="background-color: #fff8dc; border-left: 4px solid #f0ad4e; padding: 16px; margin-top: 16px; border-radius: 6px;">
                                                          <p>
							    I am looking for highly motivated PhD students to join my lab in Spring or Fall 2026, as well as research interns. To apply, please send your CV and a short statement of interest to cuizijun@msu.edu.
							  </p>
							</div>
							
							<h4 id="researchinterestsH4" class="mt-2" 
								>Research Interests
							</h4>

							<ul class="mt-1" style="padding-left: 50px;">

								<li class="abme-honors-bullet">
									Knowledge-augmented Deep Learning, including Physics-informed Deep Learning and Neural Symbolic Integration
								</li>

								<li class="abme-honors-bullet mt-2">
									Probabilistic Graphical Models
								</li>

								<li class="abme-honors-bullet mt-2">
									Computer Vision
								</li>

								<li class="abme-honors-bullet mt-2">
									AI for Health
								</li>
							</ul>

							<h4 id="educationH4" class="mt-2" 
								>Education
							</h4>

							<ul class="mt-1" style="padding-left: 50px; list-style-type:none;" >

								<li class="abme-honors-bullet">
									<i class="fa-solid fa-graduation-cap"></i> Ph.D. in Computer Engineering, Rensselaer Polytechnic Institute
								</li>

								<li class="abme-honors-bullet mt-2">
									<i class="fa-solid fa-graduation-cap"></i> M.S. in Engineering, Brown University
								</li>

								<li class="abme-honors-bullet mt-2">
									<i class="fa-solid fa-graduation-cap"></i> B.S. in Physics, University of Science and Technology of China (USTC)
								</li>
							</ul>

							<!-- News -->
						          {% if page.news and site.announcements.enabled -%}
							<h4 id="NewsH4" class="mt-2" 
								>News
							</h4>
						            {%- include news.html limit=false %}
						          {%- endif %}
						
						          <!-- Latest posts -->
						          {% if page.latest_posts -%}
						            <h4 id="latestpostsH4" class="mt-2" 
								>Latest Posts
							</h4>
						            {%- include latest_posts.html %}
						          {%- endif %}
						
						          <!-- Selected papers -->
						            <h4 id="selectedpapersH4" class="mt-2" 
								>Selected Papers
							    </h4>
						            {%- include selected_papers.html %}
						          
						
						          <!-- Social -->
						          {%- if page.social %}
						            <div class="social">
						              <div class="contact-icons">
						                {% include social.html %}
						              </div>
						
						              <div class="contact-note">
						                {{ site.contact_note }}
						              </div>
						
						            </div>
						          {%- endif %}
						</div>
					</div>
				</div>
				
        <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=18453b&w=500&t=tt&d=Hm61YIHKIJKUBm6e421YnnqegHZtFf4JUbKeEpvoRq8&co=ffffff&cmo=3acc3a&cmn=ff5353&ct=808080'></script>
				
        </article>

</div>
