---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>
            <div class="container" id="main-content">
			<div class="row content">
				
				<!-- Nicolas Meseguer profile and contact info -->
				<div id="leftPanel" class="col-md-3 language">
					<div class="row mb-3">
						<div class="col">
							<img src="assets/img/NicolasMeseguer.webp" class="rounded me-auto d-block img-fluid profilepicture" alt="Nicolas Meseguer profile picture">
						</div>
					</div>

					<h3 class="mb-2">Nicolás Meseguer</h3>

					<div class="d-none" id="contadorVisitas"></div>

					<p class="mb-4">
						<span class="t-secondary" data-es="Estudiante de doctorado en Arquitectura de Computadores en la Universidad de Murcia y CTO en " 
						data-en="Ph.D. Computer Architecture Student at University of Murcia and CTO at "></span> <a href="https://mowatave.com" class="link-dark" target="_blank">Mowatave</a>.
					</p>
					
					<div class="row mb-2">
						<div class="col-1">
							<i class="fal fa-map-marker-alt" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<span 
								data-es="Área Metropolitana" 
								data-en="Greater Murcia Metropolitan Area">
							</span> 
							<br/>
							Murcia, 
							<span 
								data-es="España" 
								data-en="Spain">
							</span>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="ai ai-cv" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<a href="assets/documents/NicolasMeseguerCV.pdf" class="link-dark" target="_blank" data-es="CV [Actualizado 03/2024]" data-en="CV [Updated 03/2024]"></a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="fa-regular fa-envelope" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<a href="mailto:n.mesegueriborra@um.es" class="link-dark">n.mesegueriborra@um.es</a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="fa-brands fa-linkedin" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<a href="https://www.linkedin.com/in/nicolasmeseguer/" class="link-dark" target="_blank">LinkedIn</a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="fa-brands fa-twitter" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<a href="https://twitter.com/NicolasMeseguer" class="link-dark" target="_blank">Twitter</a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="fab fa-github" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<a href="https://github.com/NicolasMeseguer" class="link-dark" target="_blank">GitHub</a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="fab fa-gitlab" aria-hidden="true"></i>
						</div>

						<div class="col-10">
							<a href="https://gitlab.com/NicolasMeseguer" class="link-dark" target="_blank">GitLab</a>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col-1">
							<i class="fa-solid fa-plus"></i>
						</div>

						<div class="col-10">
							<a href="https://fseneca.es/tfs/fpi/ficha/8362" class="link-dark" target="_blank"><img class="fseneca" src="/assets/img/fseneca-color.svg" alt="Fundación Séneca"></a>
						</div>
					</div>
				</div>

				<!-- About Me -->
				<div class="col-md-8 offset-md-1 mb-5 active" id="aboutmeContent">
					<div class="container">
						<div class="row language">
							<p class="mt-2 justify" 
								data-es="Nace en Murcia, España en 1997. En 2021 obtiene el grado de ingeniería informática por la Universidad Católica San Antonio de Murcia con mención honorífica a la excelencia académica. A continuación cursa el máster en la Universidad de Murcia obteniendo el título de máster en nuevas tecnologías en informática en el año 2022. Además, obtuvo una beca de iniciación a la investigación de la Universidad Católica San Antonio de Murcia con duración de 6 meses en el año 2021. En el año 2022 obtiene una beca de la Fundación Séneca para realizar la tesis doctoral en la Universidad de Murcia, donde participa en actividades docentes a partir del año 2023, ese mismo año funda Mowatave, una empresa de desarrollo software, desempeñando el rol de CTO y liderando el equipo técnico. Posee comunicaciones en congresos nacionales. Domina las lenguas español e inglés." 
								data-en="Born in Murcia, Spain in 1997. In 2021 he obtained a degree in computer engineering from the Universidad Católica San Antonio de Murcia with honorable mention for academic excellence. He then studied a master's degree at the University of Murcia obtaining a master's degree in new technologies in computer science in 2022. In addition, he received a research initiation scholarship from the Universidad Católica San Antonio de Murcia for a period of six months in in 2021. In 2022 he obtained a scholarship from the Fundación Séneca to undertake a doctoral thesis at the University of Murcia, where he participates in teaching activities from 2023. That same year he founded Mowatave, a software development company, serving as the CTO and leading the technical team. He has presented at national conferences and is proficient in both Spanish and English.">
							</p>
							
							<h4 id="researchinterestsH4" class="mt-2" 
								data-es="Áreas de Investigación" 
								data-en="Research Interests">
							</h4>

							<p class="mt-1"
								data-es="Arquitectura de computadores, redes de interconexión y aceleradores de aprendizaje profundo (aceleradores a nivel de hardware), sin embargo mis estudios de doctorado se centran en arquitecturas de GPUs, concretamente en los nuevos componentes de las futuras generaciones de tarjetas gráficas de NVIDIA y AMD. Para ello actualmente estoy utilizando MGPUSim, un simulador a nivel de eventos para GPUs."
								data-en="Computer architecture, interconnection networks and deep learning accelerators, however my PhD studies are focused on GPU architectures, specifically on the new components of the future generations of NVIDIA and AMD graphics cards. To this end I am currently using MGPUSim, a software event-based GPU simulator.">
							</p>

							<h4 id="honors-and-awards" class="mt-2" data-es="Premios y Distinciones" data-en="Honors and Awards"></h4>

							<ul class="mt-1">

								<li class="abme-honors-bullet">
									<strong>🥉 Telefónica Hack4Good 2024</strong>, <span data-es="con una plataforma para telemedicina integral con varios actores" data-en="with a comprehensive telemedicine platform with several stakeholders"></span> 
									[<a href="./assets/documents/HackForGood2024NicolasMeseguer.pdf" class="link-dark" target="_blank">1</a>]
									[<a href="https://www.ucam.edu/noticias/inteligencia-artificial-aplicada-salud-propuesta-ganadora-del-hackforgood-celebrado-ucam" class="link-dark" target="_blank">2</a>] 
									- <span data-es="Mar, 2024" data-en="Mar, 2024"></span>
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong>Programa Séneca 2022</strong>, <span data-es="Formación de Personal Investigador en Universidades y Organismos Públicos de Investigación de la Región de Murcia" data-en="research contract at the University of Murcia"></span> 
									[<a href="https://fseneca.es/tfs/fpi/ficha/8362" class="link-dark" target="_blank">1</a>]
									[<a href="https://fseneca.es/web/convocatoria/642" class="link-dark" target="_blank">2</a>] 
									- <span data-es="Dic, 2022" data-en="Dec, 2022"></span>
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong>🥈 Mercedes-Benz Talent Highway</strong>, <span data-es="con un modelo analítico de mercado predictivo" data-en="with a predictive analytical market model"></span> 
									[<a href="./assets/documents/MercedesBenz2022NicolasMeseguer.pdf" class="link-dark" target="_blank">1</a>] 
									[<a href="./assets/documents/imgs/NicolasMeseguerMercedes-Benz.jpg" class="link-dark" target="_blank">2</a>] 
									- Nov, 2022
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong><span data-es="Beca Universitaria" data-en="University scholarship"></span></strong> <span data-es="para el máster" data-en="for the master's degree"></span> (M.S.)
									[<a href="./assets/documents/NicolasMeseguerScholarship.pdf" class="link-dark" target="_blank">1</a>] 
									- Nov, 2022
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong>🥇 Telefónica Hack4Good 2022</strong>, <span data-es="con una aplicación contra el desperdicio cero de alimentos" data-en="with an application against zero food waste"></span>
									[<a href="./assets/documents/HackForGood2022NicolasMeseguer.pdf" class="link-dark" target="_blank">1</a>]
									[<a href="https://www.ucam.edu/noticias/investigacion-salud-deporte-protagonistas-actividades-ucam" class="link-dark" target="_blank">2</a>]
									[<a href="https://www.linkedin.com/posts/universidad-catolica-san-antonio-de-murcia_secyt22-investigaciaejn-salud-activity-6989572524854382592-zMr4" class="link-dark" target="_blank">3</a>] 
									- Oct, 2022
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong><span data-es="Premio Extraordinario" data-en="Extraordinary Award"></span></strong>, <span data-es="por el mejor Expediente Académico en Ingeniería Informática" data-en="for the Best Computer Engineering Academic Record"></span> (B.S.)
									[<a href="./assets/documents/imgs/NicolasMeseguerAward.jpg" class="link-dark" target="_blank">1</a>] 
									- Jun, 2022
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong><span data-es="Beca de Iniciación a la Investigación" data-en="Research Initiation Scholarship"></span></strong> <span data-es="para jóvenes investigadores prometedores" data-en="for promising young researchers"></span>
									[<a href="./assets/documents/NicolasMeseguerResearchGrant.pdf" class="link-dark" target="_blank">1</a>] 
									- Feb, 2021
								</li>

								<li class="abme-honors-bullet mt-2">
									<strong><span data-es="Beca Erasmus+" data-en="Erasmus+ Scholarship"></span></strong>, <span data-es="para unas prácticas europeas" data-en="for a european internship"></span>
									[<a href="./assets/documents/imgs/NicolasMeseguerGermany.png" class="link-dark" target="_blank">1</a>] 
									- Mar, 2018
								</li>
							</ul>

							<h4 id="hobbiesH4" class="mt-2">Hobbies</h4>

							<div class="container">
								<div class="row mt-3">
									<div class="thumbnail col-md-3">
										<img class="rounded mx-auto d-block img-fluid" src="/assets/img/NicolasMeseguerProgramming.webp" alt="Programming and Math">
									</div>
									<div class="col-md-9" id="hobbie1">
										<b 
											data-es="Programación + Mates" 
											data-en="Programming + Math">
										</b>

										<br />
										<p class="mt-2 d-inline justify"
											data-es="Desde pequeño sentí curiosidad por saber cómo se creaban los escenarios (visualmente) de los diferentes videojuegos; cómo los motores gráficos conseguían lo que yo consideraba en aquella época unos 'gráficos increíbles'. Motivado por esto y por mi pasión por la programación, he incluido los ejercicios de"
											data-en="Since I was a child I was curious to know how the scenarios were created (visually) in different videogames; how the graphics engines managed to achieve, what I considered at that time to be, 'unbelievable graphics'. Motivated by this and by my passion for programming, I've included the exercises in">
										</p>

										<a href="https://projecteuler.net/" class="link-dark" target="_blank">Project Euler</a> <span data-es="en mi" data-en="into my"></span> <a href="https://github.com/NicolasMeseguer/Toolbox" class="link-dark" target="_blank"><span data-es="propio repositorio de código abierto" data-en="own open-source repository"></span></a>.

									</div>
								</div>

								<div class="row mt-5">
									<div class="thumbnail col-md-3">
										<img class="rounded mx-auto d-block img-fluid" src="/assets/img/NicolasMeseguerTailandia.webp" alt="Travelling">
									</div>
									<div class="col-md-9" id="hobbie2">
										<b 
											data-es="Viajar" 
											data-en="Travelling">
										</b>

										<br />
										<p class="mt-2 d-inline justify"
											data-es="Decidí viajar a Alemania para hacer unas prácticas el mismo año que terminé el grado superior. Desde entonces, me he propuesto ir a un lugar nuevo al menos una vez al año. He recorrido Italia, conducido en moto a través de Tailandia (sin embargo, la pandemia me lo ha puesto bastante dificil estos últimos años)."
											data-en="I opted to move to Germany for an internship the same year I finished my undergraduate degree (HNC). Since then, I've made it a goal to go to a new location at least once a year. I've been across Italy and Thailand since then (although the pandemic has hampered my progress quite a bit this last years).">
										</p>

									</div>
								</div>
								
								<div class="row mt-5">
									<div class="thumbnail col-md-3">
										<img class="rounded mx-auto d-block img-fluid" src="/assets/img/NicolasMeseguerYouTube.webp" alt="Content Creator on YouTube">
									</div>
									<div class="col-md-9" id="hobbie3">
										<b 
											data-es="Filmaker (casi nunca)" 
											data-en="Video Creator (rarely)">
										</b>

										<br />
										<p class="mt-2 d-inline justify"
											data-es="Me gusta compartir mis experiencias en el campo de la tecnología. Llevo viendo vídeos en internet desde que tengo uso de razón, así que en 2018 decidí crearme un canal de"
											data-en="I enjoy sharing my experiences, particularly in the field of technology. I've been watching videos on the internet for as long as I can remember, so in 2018 I decided to start a">
										</p>

										<a href="https://www.youtube.com/c/NicolasMeseguer" class="link-dark" target="_blank">YouTube</a><span data-es="." data-en=""></span>

										<span
											data-es="Algunos vídeos tienen más de 150 mil visitas a día de hoy... ¿No es increíble? Si tienes suerte puedes encontrarme por"
											data-en="channel. Some videos have already received over 150 thousand views as of today... Isn't it amazing? If lucky enough you can find me at">
										</span>

										<a href="https://www.twitch.tv/nicolasmeseguerr" class="link-dark" target="_blank">Twitch</a>
										
										</br>

										<span class="lucida-console small">(<i class="fa-light fa-share-from-square"></i> <a href="https://www.youtube.com/@NicolasMeseguerArchive" class="link-dark" target="_blank">YouTube Archive)</a>.</span>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- Education -->
				<div class="col-md-8 offset-md-1 mb-5" id="educationContent">
					<div class="container">
						<div class="row mt-2 language">
							<h2 
								data-es="Doctorado en Arquitectura de Computadores"
								data-en="Ph.D. in Computer Architecture"></h2>
							<div class="trnsf-thin" 
								data-es="(Universidad de Murcia, 2022-2026)" 
								data-en="(University of Murcia, 2022-2026)"></div>

							<p class="mt-1 justify"
								data-es="
								El diseño del sistema de memoria es un componente clave de cualquier arquitectura, y mucho más crucial en las arquitecturas heterogéneas, que están surgiendo como resultado de la ralentización de la Ley de Moore.

								Aunque las jerarquías de memoria en las arquitecturas de propósito general se han explorado ampliamente a lo largo de los años, los aceleradores de dominio específico tienen restricciones que introducen variaciones en algunas características esenciales. Además, a medida que la capacidad de cálculo de estas arquitecturas heterogéneas crece, también lo hace la necesidad de poder recuperar datos con los que operar, lo que aumenta la presión sobre el diseño del sistema de memoria.

								El objetivo general de este trabajo es sugerir enfoques para abordar dos preocupaciones trascendentales en el diseño del sistema de memoria de un procesador heterogéneo. Por un lado, organizaciones novedosas para las estructuras de memoria empleadas por los núcleos (considerando los aceleradores de deep learning en este caso), a través de las cuales se podrá responder a la exigencia de un ancho de banda cada vez mayor. Por otro lado, investigaremos alternativas a los conceptos actuales de memoria virtual para compartir de forma más eficiente el mismo espacio de memoria entre los núcleos de propósito general y los aceleradores.
								"

								data-en="
								The design of the memory system is a key component of any computer architecture, and it is much more crucial in the heterogeneous architectures that are emerging as a result of Moore's Law slowing.

								Although memory hierarchies in general-purpose architectures have been extensively explored over the years, domain-specific accelerators have restrictions that introduces variances in some essential features. Furthermore, as the computational capability of these heterogeneous architectures grows, so does the requirement to be able to retrieve data with which to operate, increasing the pressure on the design of the memory system.

								The overarching goal of this work is to suggest approaches for addressing two transcendental concerns in the design of a heterogeneous processor's memory system. On the one hand, novel organizations for the memory structures employed by cores (considering deep learning accelerators in this case), through which it will be possible to respond to the requirement for ever-increasing bandwidth. On the other hand, we will investigate alternatives to present virtual memory concepts in order to more efficiently share the same memory space across general purpose cores and accelerators.
								">
								
							</p>

							<div class="trnsf-thin">
								<span 
									data-es="Tésis:"
									data-en="Dissertation:">
								</span>
								<span class="trnsf-italic"
									data-es="Por determinar (finales~2026)."
									data-en="TBD (late~2026).">
								</span>
							</div>

						</div>

						<div class="row mt-3 language">
							<h2 
								data-es="Máster en Arquitecturas de Altas Prestaciones y Supercomputación"
								data-en="M.S. in High Performance Architectures and Supercomputing"></h2>
							<div class="trnsf-thin"
								data-es="(Universidad de Murcia, 2021-2022) 9,24 - 60 ECTS"
								data-en="(University of Murcia, 2021-2022) 9,24 - 60 ECTS">
							</div>

							<p class="mt-1 justify"
								data-es="
								Diseño de arquitecturas multinúcleo de alto rendimiento, incluyendo la microarquitectura de cada uno de los núcleos de procesamiento, las cachés y la red de interconexión.
								Comprender los mecanismos a través de los cuales se puede lograr una comunicación eficiente entre los núcleos (el protocolo de coherencia de la caché).
								Evaluar el impacto de las diferentes técnicas arquitectónicas en el rendimiento y el consumo de energía de las arquitecturas multinúcleo de alto rendimiento.
								Estándares de programación paralela: paradigmas de memoria compartida (OpenMP) e interfaz de paso de mensajes (MPI) + paradigmas híbridos (como MPI+OpenMP y OpenMP+CUDA).
								Nociones de programación paralela, algoritmos y bibliotecas matriciales eficientes en sistemas de alto rendimiento (BLAS, Intel MKL, cuBLAS, ScaLAPACK).
								Administración de sistemas de alto rendimiento (almacenamiento RAID, reglas de cortafuegos, protocolos de red, gestor de módulos, sistema de colas, arranque en red).
								"

								data-en="
								Design high-performance multi-core architectures, including the microarchitecture of each of the processing cores, the caches and the interconnection network.
								Understand the mechanisms through which efficient communication between cores can be achieved (the cache coherence protocol).
								Assess the impact of different architectural techniques on the performance and power consumption of high-performance multi-core architectures.
								Parallel programming standards: shared memory paradigms (OpenMP) and message passing interface (MPI) + hybrid paradigms (such as MPI+OpenMP and OpenMP+CUDA).
								Notions of parallel programming and efficient matrix algorithms and libraries in high-performance systems (BLAS, Intel MKL, cuBLAS, ScaLAPACK).
								High performance system administration (RAID storage, firewall rules, network protocols, module manager, queuing system, network boot).
								">
								
							</p>

							<div class="trnsf-thin">
								<span
									data-es="TFM:"
									data-en="Thesis:">
								</span>
								<span class="trnsf-italic">
									<a href="./assets/documents/dissertations/NICOLASMESEGUER_CPU-PCGCN_efficient_processing_of_graph_convolutional_networks_on_CPU_architectures.pdf" class="link-dark" target="_blank"
									data-es="CPU-PCGCN, procesamiento eficiente de redes convolucionales grafos en arquitecturas CPU."
									data-en="CPU-PCGCN, efficient processing of graph convolutional networks on CPU architectures.">
								</a>
								</span>
							</div>
							<div class="trnsf-thin">
								<span
									data-es="[encuentra el repositorio"
									data-en="[find the repository">
								</span>
								<a href="https://github.com/NicolasMeseguer/pcgcn" class="link-dark" target="_blank" 
									data-es="aquí]"
									data-en="here]">
								</a>
							</div>

						</div>

						<div class="row mt-3 language">
							<h2 
								data-es="Alumno Interno, Machine Learning y Deep Learning"
								data-en="Intern Student, Machine Learning and Deep Learning">
							</h2>
							<div class="trnsf-thin" 
								data-es="(Univerisdad Católica de Murcia, 2019-2020) - 12 ECTS" 
								data-en="(Catholic University of Murcia, 2019-2020) - 12 ECTS">
							</div>

							<p class="mt-1 justify" 
								data-es="
								Introducción a Machine Learning (ML) y a las nociones que sustentan el cálculo de diferentes modelos de Deep Neural Networks (DNNs), como MLPs, CNNs o RNNs.
								Durante mi estancia de prácticas, desarrollé una red neuronal completamente conectada (FC) y una convolucional (CNN) en C, mejorando la eficiencia de la caché (memoria dinámica, punteros, registros de memoria) y las operaciones matriciales para acelerar el cálculo. 
								Esta aplicación se distribuye abiertamente a la comunidad científica; es totalmente modular y fácil de usar.
								"

								data-en="
								Introduction to Machine Learning (ML) and the notions underpinning the computation of different Deep Neural Networks (DNNs) models, such as MLPs, CNNs, or RNNs.
								During my time as an intern student, I developed a fully connected (FC) and a convolutional neural network (CNN) in C, improving cache efficency (dynamic memory, pointers, memory registers) and matrix operations to speed up the calculation. 
								This application is openly distributed to the scientific commmunity; it is totally modular and user-friendly.
								">
							</p>

							<div class="trnsf-thin">
								<span
									data-es="[encuentra la aplicación"
									data-en="[find the application">
								</span>
								<a href="https://github.com/NicolasMeseguer/DNN" class="link-dark" target="_blank" 
									data-es="aquí]"
									data-en="here]">
								</a>
							</div>

						</div>


				</div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
